/******** sovrascritto framework bootstrap **********/
.container-fluid{
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px black;
  text-align: center;
  padding: 0;
}
/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* regole centratura pagina */
.ms_container{
  padding: 0 20%;
}
.ms_container1{
  padding: 0 15%;
}
.ms_container2{
  min-height: 500px;
  position: relative;
  padding: 0;
}
nav{
  margin-bottom: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
/* sezione nav top*/
#ground{
  background-color: #111117;
  color: white;
  padding: 10px 0;
}
/* sezione nav bot */
#noground{
  background-color: transparent;
}
#logo{
  margin: 10px 0;
  width: 120px;
  height: 40px;
}
.link_list{
  padding: 0;
  margin: 8px 0;
}
.links{
  display: inline-block;
  list-style-type: none;
  padding: 0 25px;
  position: relative;
  cursor: pointer;
}
.drop-menu{
  position: absolute;
  left: 6px;
  margin-top: 10px;
  width: 80px;
}
.visible{
  display: block;
}
/* bottone header inferiore */
[alt="getintouch"]{
  width: 110px;
  height: auto;
}
/* sezione jumbotron */
#jumbotron{
  /* margine da modificare */
  margin-top: 120px;
  min-height: 500px;
  background-image: url(../img/bg-parallax1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#wrap{
  margin-top: 160px;
}

/* sezione excellence in service */
#excellence{
  padding: 100px 0;
  background-color: #F3F5F9;
  min-height: 100px;
}

/* sezione thecompany/sfondo uomo in affari */
#thecompany{
  min-height: 500px;
}
#thecompany img{
  max-width: 100%;
  height: auto;
}
#background_companysx{
  background-color: #191928;
  height: 690px;
}

/* sezione actions & projects */
#actions{
  background-color: #F3F5F9;
  padding: 100px 0;
}

/* penultima sezione main (sfondo scacchi) */
#results{
  min-height: 600px;
  background-image: url(../img/bg-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
/* blocco con loghi aziendali */
.background_block{
  position: absolute;
  height: 160px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #191928;
  z-index: 2;
}

/* ultima sezione main */
#getintouch{
  background-color: white;
  min-height: 600px;
  padding-top: 100px;
}

/* footer */
#foot_top{
  background-color: #191928;
  padding: 100px 0;
}
#logoFoot{
  max-width: 100px;
  height: auto;
  margin-right: 50px;
}
#foot_bot{
  background-color: #111117;
}
.colonna_Foot{
  margin: 0 20px;
  padding: 5px;
  background-color: #1e1e38;
  border-radius: 5px;
}
.colonna_Foot a{
  color: white;
  text-decoration: none;
}
.colonna_Foot h4{
  text-align: left;
  padding-left: 20px;
}
.colonna_Foot span{
  display: block;
  text-align: left;
  padding-left: 30px;
}

/* REGOLE MEDIA QUERIES PARTICOLARI */
@media all and (max-width: 768px){
  .ms_container{
    padding: 0 5%;
  }
  .ms_container1{
    padding: 0 8%;
  }
}
@media all and (min-width: 769px) and (max-width: 1200px){

}
