/******** sovrascritto framework bootstrap **********/
.container-fluid{
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
/* classe x blocchi che mi servono fissi */
.fixed{
  position: fixed;
  z-index: 100;
}

/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px black;
  text-align: center;
  padding: 0;
}
/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* regole centratura pagina */

.ms_container{
  padding: 0 20%;
}
.ms_container1{
  padding: 0 15%;
}
.ms_container2{
  min-height: 500px;
  position: relative;
  padding: 0;
}
nav{
  margin-bottom: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
/* sezione nav top*/
#ground{
  background-color: #122439;
  color: white;
  padding: 10px 0;
}
/* sezione nav bot */
#noground{
  background-color: transparent;
}
#logo{
  margin: 10px 0;
  width: 120px;
  height: 40px;
}
.link_list{
  padding: 0;
  margin: 8px 0;
}
.links{
  display: inline-block;
  list-style-type: none;
  padding: 0 25px;
  position: relative;
  cursor: pointer;
}
.drop-menu{
  position: absolute;
  left: 6px;
  margin-top: 10px;
  width: 80px;
}
.visible{
  display: block;
}
[alt="getintouch"]{
  width: 110px;
  height: auto;
}
/* sezione jumbotron */
#jumbotron{
  /* margine da modificare */
  margin-top: 120px;
  min-height: 500px;
  background-image: url(../img/bg-parallax1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#wrap{
  margin-top: 160px;
}
/* slider */
.slider-wrapper {
  margin: auto;
  width: 100%;
  height: 80%;
}
/* img dentro lo slider */
#button1slider{
  height: auto;
  width: 110px;
}
#button2slider{
  height: auto;
  width: 100px;
}
.prev{
  margin-top: 10px;
}
.navcar{
  background-color: lightgrey;
  padding: 5px;
  position: absolute;
  right: 30px;
  top: 30%;
}
.navcar > i{
  font-size: 30px;
  display: block;
  margin: 5px 0;
}
.navcar > i.active {
  color: blue;
}





#excellence{
  padding-top: 100px;
  background-color: #F3F5F9;
  min-height: 1000px;
}
#deploy{
  background-color: #FFFFFF;
}
#designed{
  background-color: #F3F5F9;
}
#features{
  background-color: #FFFFFF;
}
#service{
  background-color: #0F2656;
}
#development{
  background-color: #F3F5F9;
}
#start{
  background-color: #0061FF;
}
#foot{
  background-color: #2C3E50;
}

/* REGOLE MEDIA QUERIES PARTICOLARI */
@media all and (max-width: 768px){
  .ms_container{
    padding: 0 5%;
  }
  .ms_container1{
    padding: 0 8%;
  }
}
@media all and (min-width: 769px) and (max-width: 1200px){

}
