<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consultant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- contiene tutto il template del sito, bypassato bootstrap -->
    <div id="app" class="container-fluid">
      <!-- intestazione -->
      <header>

        <!-- barra navigazione -->
        <nav>

          <!-- barra navigazione topside -->
          <div id="ground">

            <div class="ms_container">

              <div class="row">

                <!-- orari di lavoro navbar -->
                <div class="col-xs-6	col-md-5	col-lg-3">

                  <div class="col-xs-12	col-md-12	col-lg-12">
                    <!-- icona orologio -->
                    <i :style="orario.stile" :class="orario.iconaTimes"></i>
                    <!-- orari di lavoro -->
                    <p :style="orario.stile">Open Hours: {{orario.worktime}}</p>
                  </div>

                </div>

                <!-- contatti navbar -->
                <div class="col-xs-6	col-md-5 col-md-offset-2	col-lg-7 col-lg-offset-2">

                  <!-- contatto telefonico e via mail -->
                  <div v-for="(contatto, index) in contatti" class="col-xs-4	col-md-4	col-lg-4">
                    <!-- icona telefono/mail -->
                    <a :href="contatti[index].url">
                      <i :style="contatti[index].stile" :class="contatti[index].icona"></i>
                    </a>
                    <!-- numero di telefono/indirizzo mail -->
                    <a :href="contatti[index].url">
                      <p  :style="contatti[index].stile">{{contatti[index].indirizzo}}</p>
                    </a>
                    <!-- contatto mail -->
                  </div>

                  <!-- contatti via socialnetwork -->
                  <div class="col-xs-4	col-md-4	col-lg-4">
                    <!-- icona facebook -->
                    <a v-for="(social, index) in contattiSocial" :href="contattiSocial[index].url">
                      <i :style="contattiSocial[index].stile" :class="contattiSocial[index].icona"></i>
                    </a>
                    <!-- icona twitter -->
                    <!-- icona linkedin -->

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- nav bar botside con sfondo transparente -->
          <div id="noground">

            <div class="ms_container">

              <div class="row">

                <div class="col-xs-6	col-md-4	col-lg-2">
                  <a @click="home()"><img id="logo" :src="logo.picture" alt="logo.text"></a>
                </div>

                <div class="col-xs-6	col-md-4 col-md-offset-4	col-lg-9 col-lg-offset-1">
                  <ul class="link_list">

                    <li @click="dropMenu(link, index, linkList)" v-for="(link, index) in linkList" class="links">{{linkList[index].text}}
                      <div v-show="linkList[index].dropmenu.visible == true" class="drop-menu">
                        <p v-for="(sublink, i) in linkList[index].dropmenu.links">{{sublink}}</p>
                      </div>
                    </li>

                    <a href="#"><img :src="bottoneHead" alt="getintouch"></a>
                  </ul>
                </div>

              </div>

            </div>

          </div>

        </nav>

        <!-- jumbotron -->
        <section id="jumbotron">

          <div class="ms_container2">

            <div class="row">

              <div id="wrap"
              class="col-xs-offset-4	col-xs-4 col-lg-offset-4	col-lg-3">

              <div class="slider-wrapper">
                <div class="next" @click="prevPic">
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="blocchi">

                <div v-for="(blocco, index) in arrayblocchi" v-if="index === currentIndex">
                  <h1>{{arrayblocchi[index].title}}</h1> <br>
                  <p>{{arrayblocchi[index].subtitle}}</p> <br>
                  <a href="#"><img id="button1slider" :src="arrayblocchi[index].buttons[0]" alt=""></a>
                  <a href="#"><img id="button2slider" :src="arrayblocchi[index].buttons[1]" alt=""></a>
                </div>

                </div>
                <div class="prev" @click="nextPic">
                  <i class="fas fa-angle-down"></i>
                </div>

              </div>

              </div>

            </div>

            <div class="navcar">
              <i v-for="(item, i) in arrayblocchi" @click="currentIndex = i" :class="(currentIndex === i) ? activeClass : '' " class="fas fa-grip-lines-vertical" v-on:keydown="">
              </i>
            </div>

          </div>

        </section>

      </header>

      <!-- main page -->
      <main>
        <!-- sezione portfolio -->
        <section id="excellence">

          <div class="ms_container1">

            <!-- riga con TITOLO gigante excellent in service  -->
            <div class="row">

              <div class="col-xs-12	col-md-4 col-lg-12">

                <h6 style="text-transform: uppercase;">Our Business Area</h6>
                <h2>Excellence in Services</h2>
                <div class="clearfix">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <img src="img/hover-button1.png" alt="">
                </div>


              </div>

            </div>

            <!--prima riga con vari blocchetti dei servizi -->
            <div style="margin-top: 50px;" class="row">

              <div class="col-xs-4	col-md-4 col-lg-4">

                <div class="service_square">

                  <img src="img/hover-card1.png" alt="">

                </div>

              </div>
              <div class="col-xs-4	col-md-4 col-lg-4">

                <div class="service_square">

                  <img src="img/hover-card1.png" alt="">

                </div>

              </div>
              <div class="col-xs-4	col-md-4 col-lg-4">

                <div class="service_square">

                  <img src="img/hover-card1.png" alt="">

                </div>

              </div>

            </div>

            <!--seconda riga con vari blocchetti dei servizi -->
            <div class="row">

              <div class="col-xs-4	col-md-4 col-lg-4">

                <div class="service_square">

                  <img src="img/hover-card2.png" alt="">

                </div>

              </div>
              <div class="col-xs-4	col-md-4 col-lg-4">

                <div class="service_square">

                  <img src="img/hover-card2.png" alt="">

                </div>

              </div>
              <div class="col-xs-4	col-md-4 col-lg-4">

                <div class="service_square">

                  <img src="img/hover-card2.png" alt="">

                </div>

              </div>

            </div>

          </div>

        </section>

        <!-- sezione The Company-->
        <section id="thecompany">

          <div class="ms_container3">
            <img class="bullets" src="img/bullets.png" alt="">

            <!-- sezione con un'unica riga divisa in 2 -->
            <div class="row">

              <div id="background_companysx" class="col-xs-12 col-md-12 col-lg-6">

                <div class="companysx">

                  <h6>ABOUT THE NETWORK</h6>
                  <h2>The Company</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <div class="row">

                    <div class="col-xs-12 col-md-12 col-lg-6">
                      <div class="subcompany">
                        <i class="fas fa-edit"></i>
                        <span>Certificate</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-6">
                      <div class="subcompany">
                        <i class="fas fa-edit"></i>
                        <span>Certificate</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      </div>
                    </div>

                  </div>
                  <div class="row">

                    <div class="col-xs-12 col-md-12 col-lg-6">
                      <div class="subcompany">
                        <i class="fas fa-edit"></i>
                        <span>Certificate</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-6">
                      <div class="subcompany">
                        <i class="fas fa-edit"></i>
                        <span>Certificate</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      </div>
                    </div>

                  </div>
                  <a href="#"><img src="img/hover-button1.png" alt=""></a>
                  <a href="#"><img src="img/hover-button2.png" alt=""></a>

                </div>

              </div>

              <div class="col-xs-12 col-md-12 col-lg-6">
                <img src="img/about-4.jpg" alt="">
              </div>

            </div>

          </div>

          <img class="bullets" src="img/bullets.png" alt="">
        </section>

        <!-- sezione actions & projects -->
        <section id="actions">

          <div class="ms_container1">

            <!-- riga titolo actions & projects -->
            <div class="row">

              <div class="col-xs-12	col-md-12	col-lg-12">

                <h6>We Do More for Everyone</h6>
                <h2>Actions & Projects</h2>

              </div>

            </div>

            <!-- riga con navbar progetti -->
            <div class="row">

              <div class="col-xs-12	col-md-12	col-lg-12">

                <div v-for="(progetto, index) in progetti" class="sel-progetto">
                  <h4>{{progetto.title}}</h4>
                </div>

              </div>

            </div>

            <div class="contenitore-progetti">


              <!--prima riga con vari blocchetti dei progetti -->
              <div class="row">

                <div v-for="(subproj, i) in progetti[attivo].subprogetti" class="progetto col-xs-4	col-md-4 col-lg-4">
                  <img style="border-radius:10px;" :src="subproj.img" alt="">
                  <p>{{subproj.p}}</p>
                </div>

              </div>

            </div>

          </div>

          <script src="js/actions.js" charset="utf-8"></script>
        </section>

        <!-- features business -->
        <section id="results">

          <div class="ms_container1">
            <!-- riga subtitolo results in number -->
            <div class="row">

              <div class="col-xs-6 col-md-offset-3	col-md-6	col-lg-6">

              </div>

            </div>

            <!-- riga con i numeri dei risultati ottenuti dall'azienda (4 blocchetti) -->
            <div class="row">

              <div class="col-xs-12 col-md-6 col-lg-3">

              </div>

              <div class="col-xs-12 col-md-6 col-lg-3">

              </div>

              <div class="col-xs-12 col-md-6 col-lg-3">

              </div>

              <div class="col-xs-12 col-md-6 col-lg-3">

              </div>

            </div>

          </div>
          <!-- blocco position absoluto che copre parte inferiore delle sezione -->
          <div class="background_block">

            <div class="ms_container1">

              <div class="row">

                <div class="col-xs-8 col-md-4 col-lg-2">

                </div>
                <div class="col-xs-8 col-md-4 col-lg-2">

                </div>
                <div class="col-xs-8 col-md-4 col-lg-2">

                </div>
                <div class="col-xs-8 col-md-4 col-lg-2">

                </div>
                <div class="col-xs-8 col-md-4 col-lg-2">

                </div>
                <div class="col-xs-8 col-md-4 col-lg-2">

                </div>

              </div>

            </div>

          </div>
        </section>

        <!-- sezione form -->
        <section id="getintouch">

          <div class="ms_container">
            <!-- riga subtitolo -->
            <div class="row">

              <div class="col-xs-12	col-md-6	col-lg-6">

              </div>
              <div class="col-xs-12	col-md-6	col-lg-6">

              </div>

            </div>

            <!-- riga con form sx e contatti a dx -->
            <div class="row">

              <div class="col-xs-12 col-md-6 col-lg-6">

              </div>

              <div class="col-xs-12 col-md-6 col-lg-6">

              </div>

            </div>

          </div>

        </section>

      </main>

      <!-- footer -->
      <footer id="root">

        <!-- sezione foot -->
        <section id="foot_top">

          <div class="ms_container">

            <div class="row">
              <!-- logo del footer/contatti/bottone -->
              <div class="col-xs-12	col-md-6 col-lg-3">

                <div>
                  <a href="file:///C:/Users/marco/Documents/Boolean/Esercizi/proj-html-vuejs/index.html#"><img id="logoFoot" :src="logoFoot.picture" alt="logoFoot.text"></a>
                </div>

                <p :style="footContact.style">{{footContact.text}}</p>

                <a :href="footContact.contact_tel.url">
                  <p :style="footContact.style">
                    <i :class="footContact.contact_tel.icona"></i>
                    {{footContact.contact_tel.indirizzo}}
                  </p>
                </a>

                <a :href="footContact.contact_mail.url">
                  <p :style="footContact.style">
                    <i :class="footContact.contact_mail.icona"></i>
                    {{footContact.contact_mail.indirizzo}}
                  </p>
                </a>

                <a :href="footContact.position.url">
                  <p :style="footContact.style">
                    <i :class="footContact.position.icona"></i>
                    {{footContact.position.indirizzo}}
                  </p>
                </a>

                <a href="#">
                  <img :style="bottoneFoot.stile" :src="bottoneFoot.picture" alt="">
                </a>

              </div>

              <!-- 1a lista -->
              <div v-for="(colonna,i) in listeFoot" class="col-xs-12	col-md-6 col-lg-3">

                <div class="colonna_Foot">
                  <!-- titolo colonna links -->
                  <a href="#"><h4>{{listeFoot[i].title}}</h4></a>
                  <!-- lista links -->
                  <a href="#"><span v-for="(link, index) in listeFoot[0].links"><i style="margin-right: 10px;" class="fas fa-angle-right"></i>{{listeFoot[i].links[index]}}</span></a>

                </div>

              </div>

            </div>

          </div>

        </section>

        <!-- footer più basso che chiude la webpage -->
        <section id="foot_bot">

          <div class="ms_container">

            <div class="row">

              <!-- foot_bot sx -->
              <div class="col-xs-6	col-md-5	col-lg-5">
                <p :style="foot_bot[0].style">{{foot_bot[0].text}}</p>
              </div>

              <!-- foot_bot dx -->
              <div class="col-xs-6	col-md-5 col-md-offset-2	col-lg-4 col-lg-offset-3">
                <p :style="foot_bot[1].style">{{foot_bot[1].text}}
                  <a :href="foot_bot[1].link.href">{{foot_bot[1].link.text}}</a>
                </p>
              </div>

            </div>

          </div>

        </section>

        <script src="js/footer.js" charset="utf-8"></script>
      </footer>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
