<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- contiene tutto il template del sito, bypassato bootstrap -->
    <div id="app" class="container-fluid">
      <!-- intestazione -->
      <header>

        <!-- barra navigazione -->
        <nav>

          <!-- barra navigazione topside -->
          <div id="ground">

            <div class="ms_container">

              <div class="row">

                <!-- orari di lavoro navbar -->
                <div class="col-xs-6	col-md-5	col-lg-3">

                  <div class="col-xs-12	col-md-12	col-lg-12">
                    <!-- icona orologio -->
                    <i :style="orario.stile" :class="orario.icona"></i>
                    <!-- orari di lavoro -->
                    <p :style="orario.stile">Open Hours: {{orario.worktime}}</p>
                  </div>

                </div>

                <!-- contatti navbar -->
                <div class="col-xs-6	col-md-5 col-md-offset-2	col-lg-7 col-lg-offset-2">

                  <!-- contatto telefonico e via mail -->
                  <div v-for="(contatto, index) in contatti" class="col-xs-4	col-md-4	col-lg-4">
                    <!-- icona telefono/mail -->
                    <a :href="contatti[index].url">
                      <i :style="contatti[index].stile" :class="contatti[index].icona"></i>
                    </a>
                    <!-- numero di telefono/indirizzo mail -->
                    <a :href="contatti[index].url">
                      <p  :style="contatti[index].stile">{{contatti[index].indirizzo}}</p>
                    </a>
                    <!-- contatto mail -->
                  </div>

                  <!-- contatti via socialnetwork -->
                  <div class="col-xs-4	col-md-4	col-lg-4">
                    <!-- icona facebook -->
                    <a v-for="(social, index) in contattiSocial" :href="contattiSocial[index].url">
                      <i :style="contattiSocial[index].stile" :class="contattiSocial[index].icona"></i>
                    </a>
                    <!-- icona twitter -->
                    <!-- icona linkedin -->

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- nav bar botside con sfondo transparente -->
          <div id="noground">

            <div class="ms_container">

              <div class="row">

                <div class="col-xs-6	col-md-4	col-lg-2">
                  <a @click="home()"><img id="logo" :src="logo.picture" alt="logo.text"></a>
                </div>

                <div class="col-xs-6	col-md-4 col-md-offset-4	col-lg-9 col-lg-offset-1">
                  <ul class="link_list">

                    <li @click="dropMenu(link, index, linkList)" v-for="(link, index) in linkList" class="links">{{linkList[index].text}}
                      <div v-show="linkList[index].dropmenu.visible == true" class="drop-menu">
                        <p v-for="(sublink, i) in linkList[index].dropmenu.links">{{sublink}}</p>
                      </div>
                    </li>

                    <a href="#"><img :src="bottoneHead" alt="getintouch"></a>
                  </ul>
                </div>

              </div>

            </div>

          </div>

        </nav>

        <!-- jumbotron -->
        <section id="jumbotron">

          <div class="ms_container2">

            <div class="row">

              <div id="wrap"
              class="col-xs-offset-4	col-xs-4 col-lg-offset-4	col-lg-3">

              <div class="slider-wrapper">
                <div class="next" @click="prevPic">
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="blocchi">

                <div v-for="(blocco, index) in arrayblocchi" :class="" v-if="index === currentIndex">
                  <h1>{{arrayblocchi[index].title}}</h1> <br>
                  <p>{{arrayblocchi[index].subtitle}}</p> <br>
                  <a href="#"><img id="button1slider" :src="arrayblocchi[index].buttons[0]" alt=""></a>
                  <a href="#"><img id="button2slider" :src="arrayblocchi[index].buttons[1]" alt=""></a>
                </div>

                </div>
                <div class="prev" @click="nextPic">
                  <i class="fas fa-angle-down"></i>
                </div>

              </div>

              </div>

            </div>

            <div class="navcar">
              <i v-for="(item, i) in arrayblocchi" @click="currentIndex = i" :class="(currentIndex === i) ? activeClass : '' " class="fas fa-grip-lines-vertical" v-on:keydown="">
              </i>
            </div>

          </div>

        </section>

      </header>

      <!-- main page -->
      <main>
        <!-- sezione portfolio -->
        <section id="customers">

          <div class="ms_container">

            <!-- riga con subtitolo INNOVATE  -->
            <div class="row">

              <div class="col-xs-12	col-md-4 col-md-offset-4	col-lg-4 col-lg-offset-4">

              </div>

            </div>
            <!-- riga con loghi clienti -->
            <div class="row">

              <div class="col-xs-6	col-md-2	col-lg-2">

              </div>

              <div class="col-xs-6	col-md-2	col-lg-2">

              </div>

              <div class="col-xs-6	col-md-2	col-lg-2">

              </div>

              <div class="col-xs-6	col-md-2	col-lg-2">

              </div>

              <div class="col-xs-6	col-md-2	col-lg-2">

              </div>

              <div class="col-xs-6	col-md-2	col-lg-2">

              </div>

            </div>

            <!-- riga con link storie clienti -->
            <div class="col-xs-12	col-md-4 col-md-offset-4	col-lg-4 col-lg-offset-4">

            </div>

          </div>

        </section>

        <!-- sezione deploy and scale-->
        <section id="deploy">

          <div class="ms_container">

            <!-- riga titolo deploy e paragrafo introduttivo -->
            <div class="row">

              <div class="col-xs-12 col-md-12 col-lg-12">

              </div>

            </div>

            <!-- riga menu con innesto -->
            <div class="row">

              <div class="col-xs-12	col-md-6 col-lg-2">

              </div>

              <!-- l'innesto inizia qui -->
              <div class="col-xs-12	col-md-6 col-lg-10">

                <div class="row">

                  <div class="col-xs-12	col-md-6 col-lg-6">

                  </div>

                  <div class="col-xs-12	col-md-6 col-lg-6">

                  </div>

                  <div class="col-xs-12	col-md-6 col-lg-6">

                  </div>

                  <div class="col-xs-12	col-md-6 col-lg-6">

                  </div>

                </div>

              </div>

            </div>

          </div>

        </section>

        <!-- sezione designed for developers -->
        <section id="designed">

          <div class="ms_container">
            <!-- riga subtitolo -->
            <div class="row">

              <div class="col-xs-12	col-md-12	col-lg-12">

              </div>

            </div>

            <!-- riga carousel -->
            <div class="row">

              <div class="col-xs-12">

              </div>

            </div>

          </div>

        </section>

        <!-- features business -->
        <section id="features">

          <div class="ms_container">
            <!-- riga subtitolo -->
            <div class="row">

              <div class="col-xs-12	col-md-12	col-lg-12">

              </div>

            </div>

            <!-- riga suddivisa in 3 con spiegazioni caratteristiche -->
            <div class="row">

              <div class="col-xs-12 col-md-4 col-lg-4">

              </div>

              <div class="col-xs-12 col-md-4 col-lg-4">

              </div>

              <div class="col-xs-12 col-md-4 col-lg-4">

              </div>

            </div>

          </div>

        </section>

        <!-- sezione tabellare -->
        <section id="service">

          <div class="ms_container">
            <!-- riga subtitolo -->
            <div class="row">

              <div class="col-xs-12	col-md-12	col-lg-12">

              </div>

            </div>

            <!-- riga suddivisa in 3 con spiegazioni caratteristiche -->
            <div class="row">

              <div class="col-xs-12 col-md-12 col-lg-6">

              </div>

              <div class="col-xs-12 col-md-12 col-lg-6">

              </div>

            </div>

          </div>

        </section>

        <!-- sezione development teams love DigitalOcean -->
        <section id="development">

          <div class="ms_container">
            <!-- riga subtitolo -->
            <div class="row">

              <div class="col-xs-12	col-md-12	col-lg-12">

              </div>

            </div>

            <!-- riga carousel #2-->
            <div class="row">

              <div class="col-xs-12">

              </div>

            </div>

          </div>

        </section>

        <!-- sezione start now -->
        <section id="start">

          <div class="ms_container">

            <!-- riga con titolo get started now -->
            <div class="row">

              <div class="col-xs-12	col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5">

              </div>

            </div>

            <!-- riga con bottone download -->
            <div class="row">

              <div class="col-xs-12	col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5">

              </div>

            </div>

          </div>

        </section>

      </main>

      <!-- footer -->
      <footer>

        <!-- sezione foot -->
        <section id="foot">

          <div class="ms_container">

            <!-- riga con innesto nel footer -->
            <div class="row">

              <!-- colonna Copyright -->
              <div class="col-xs-12	col-md-12 col-lg-4">

              </div>

              <!-- l'innesto inizia qui e si divide in 4 colonne -->
              <div class="col-xs-12	col-md-12 col-lg-8">

                <div class="row">

                  <div class="col-xs-12	col-md-6 col-lg-3">

                  </div>

                  <div class="col-xs-12	col-md-6 col-lg-3">

                  </div>

                  <div class="col-xs-12	col-md-6 col-lg-3">

                  </div>

                  <div class="col-xs-12	col-md-6 col-lg-3">

                  </div>

                </div>

              </div>

            </div>

          </div>

        </section>

      </footer>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
